[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
mkdocs-material = "*"
mkdocs-mermaid2-plugin = "*"
gdown = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
