[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
mkdocs-material = "*"
mkdocs-mermaid2-plugin = "*"
gdown = "*"
ipywidgets = "*"
jupyterlab = "*"
jupyter-lsp = "*"
jedi-language-server = "*"
black = "*"
nb-black = "*"
install = "*"
lckr-jupyterlab-variableinspector = "*"
jupyterlab-system-monitor = "*"
nbresuse = "*"
holidays = "==0.12"
jupyter = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
